.footer
  background-image: linear-gradient(0deg, #074E68 0%, #0A6485 100%)

.footer-wrap
  max-width: 600px
  h3
    color: $footer-text
    margin: 7px 0px
    text-transform: uppercase
  p
    color: $footer-text
    margin: 0px
  a
    text-decoration: none
    display: block
    text-align: left
    &:hover
      font-weight: 400

.last-foot
  background-color: $blue-grey
  text-align: center
  // padding: 5px 0

.footer-logo
  fill: $blue-grey-text
  display: block
  +size(30px)
  margin: 10px 5px 0px 5px
  padding: 4px 0

.copyright
  color: $blue-grey-text
  text-align: center
  margin: 0px auto
  padding: 15px 0
  font-size: 14px

.social-icons
  text-align: center
  display: block

.social-media
  display: inline-block
  +size(30px)
  margin: 0px 5px
  padding: 12px 0

@media only screen and (max-width: 567px)
  .footer-logo
    margin: 10px 5px 0px 5px
    padding: 5px 0 0px 0

  .copyright
    margin: 0px auto
    padding: 0px 0
    font-size: 14px

  .social-media
    margin: 0px 5px
    padding: 10px 0

  .footer-wrap
    margin-left: 30px
