.header
  background: linear-gradient(-180deg, rgba(44,61,105,0.6) 0%, rgba(29,41,70,0.6) 100%), url("../img/skivspelare.jpeg")
  background-size: cover
  background-position: center center
  height: 500px
  text-align: center

.logo
  height: 60px
  padding: 30px
  display: block

.microphone
  fill: #ffffff

.banner
  margin-bottom: 10px
  text-align: center
  color: white
  text-transform: uppercase
  font-size: 64px
  text-shadow: 2px 2px 4px rgba(0,0,0,0.30)

.banner-text
  max-width: 300px
  color: white
  text-align: center
  display: block
  margin: 0 auto 15px auto
  font-weight: 300
  text-shadow: 2px 2px 4px rgba(0,0,0,0.30)
